1. Read CSV:

In [1]:
import pandas as pd

dataset = pd.read_csv("titanic_big.csv")

In [ ]:

# 7. Print datatype of each column
print("\nData types of columns:")
print(dataset.dtypes)

2. Print Top 5 rows of dataset:

In [2]:
print("Top 5 rows of Dataset:")
print(dataset.head())

Top 5 rows of Dataset:
   survived  pclass     sex  age    fare embarked
0         0       3    male   69  165.39        C
1         1       3  female   34  190.21        S
2         0       1    male   52  146.52        Q
3         0       1    male   10  124.62        S
4         0       2    male   19   86.56        S

3. Print Bottom 5 rows

In [3]:
print("\nBottom 5 rows of Dataset:")
print(dataset.tail())

Bottom 5 rows of Dataset:
     survived  pclass     sex  age    fare embarked
195         1       2    male   77   70.64        C
196         1       3    male   29   31.21        S
197         1       1  female   13   17.36        Q
198         0       1  female   46  198.04        C
199         0       1  female   35   67.86        S

4.Print Number of Rows and Columns

In [4]:
print("\nNumber of Rows and Columns:")
print("Rows: ", dataset.shape[0])
print("Columns: ", dataset.shape[1])

Number of Rows and Columns:
Rows:  200
Columns:  6

5. Print/Determine all null columns

In [5]:
print("\nTotal null/missing values in Dataset:")
print(dataset.isnull().sum())

Total null/missing values in Dataset:
survived    0
pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

6. Filling null values using Mean / Median / Mode

In [6]:
dataset = dataset.fillna(dataset.mean(numeric_only=True))

In [7]:
dataset = dataset.fillna(dataset.mode().iloc[0])

In [8]:
print("\nNull values after filling:")
print(dataset.isnull().sum())

Null values after filling:
survived    0
pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

7. Print datatype of each column

In [9]:
print("\nData types of columns:")
print(dataset.dtypes)

Data types of columns:
survived      int64
pclass        int64
sex          object
age           int64
fare        float64
embarked     object
dtype: object