1. Read CSV:

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

dataset = pd.read_csv("titanic_big.csv")

Data Loading:

In [3]:
df = pd.read_csv("titanic_big.csv")
df

     survived  pclass     sex  age    fare embarked
0           0       3    male   69  165.39        C
1           1       3  female   34  190.21        S
2           0       1    male   52  146.52        Q
3           0       1    male   10  124.62        S
4           0       2    male   19   86.56        S
..        ...     ...     ...  ...     ...      ...
195         1       2    male   77   70.64        C
196         1       3    male   29   31.21        S
197         1       1  female   13   17.36        Q
198         0       1  female   46  198.04        C
199         0       1  female   35   67.86        S

[200 rows x 6 columns]

Data Exploration:

In [4]:
df.head(2)

   survived  pclass     sex  age    fare embarked
0         0       3    male   69  165.39        C
1         1       3  female   34  190.21        S

In [5]:
df.tail(2)

     survived  pclass     sex  age    fare embarked
198         0       1  female   46  198.04        C
199         0       1  female   35   67.86        S

In [6]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'fare', 'embarked'], dtype='object')

In [7]:
df.count()

survived    200
pclass      200
sex         200
age         200
fare        200
embarked    200
dtype: int64

In [8]:
df.describe()

         survived      pclass         age        fare
count  200.000000  200.000000  200.000000  200.000000
mean     0.500000    1.965000   38.110000   96.653700
std      0.501255    0.835022   22.248661   56.150537
min      0.000000    1.000000    1.000000    7.840000
25%      0.000000    1.000000   18.750000   46.127500
50%      0.500000    2.000000   36.000000   93.695000
75%      1.000000    3.000000   58.000000  140.297500
max      1.000000    3.000000   78.000000  199.940000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  200 non-null    int64
 1   pclass    200 non-null    int64
 2   sex       200 non-null    object
 3   age       200 non-null    int64
 4   fare      200 non-null    float64
 5   embarked  200 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.5+ KB

In [10]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 200 and Number of Columns: 6

In [12]:
df['fare'].unique()

array([165.39, 190.21, 146.52, 124.62,  86.56, 186.88, 173.88,  13.82,
        10.14,  78.41, 163.06, 197.52,  34.33, 120.86,  79.27, 194.13,
       169.21, 168.47,  96.4 ,  85.89,  58.31,  15.99, 173.62, 163.52,
       199.94, 199.34, 113.31, 154.95, 189.23, 170.68,  53.23,  92.86,
        30.19, 191.04, 123.2 ,  49.59, 135.98, 125.54,  74.84,  27.14,
       135.96, 106.46, 155.6 , 106.43, 171.18, 112.62, 114.38, 175.95,
        83.68,  31.13,  10.61, 152.25, 125.96, 142.3 ,  46.53,  31.59,
         7.84,  73.36, 120.03,  81.49,  90.31, 181.31,  72.91, 105.23,
       157.81,  82.33, 126.31, 173.16, 190.16,  33.68, 185.68, 100.96,
        55.36,  94.53, 196.11, 101.06,  69.11, 128.51,  51.83,  19.79,
        30.13,  29.97,  34.62,  32.07, 129.97,  40.47,  72.41, 179.87,
        97.42, 135.17,  38.6 ,  42.5 ,  12.97,  37.94,  59.33,  39.52,
        22.3 ,  28.52,  94.85,  45.24,  76.03, 103.17, 139.63,  12.67,
       160.89, 127.44,  20.94, 175.35, 184.57,  16.91,  58.99, 162.21,
       150.91,  40.98,  45.82,  77.24,  99.48, 125.56,  76.94,  95.19,
       150.76,  12.15,  54.23, 144.1 , 179.57, 104.78, 108.76,  25.9 ,
        92.25, 108.86,  52.28,  57.5 ,  78.57,   8.91,  67.81,  46.23,
        68.86,  28.35, 178.65, 120.75, 137.42, 158.89, 102.2 ,  21.95,
       109.74, 119.43, 150.36,  89.17,  29.88,  60.34,  75.8 , 130.95,
       116.3 ,  74.44, 197.37, 123.13,  51.26,  24.85,  34.81,  52.96,
        36.33,  41.38,  60.59,  38.81,  20.65, 107.28,  85.03, 196.56,
        26.85,  82.58, 194.05, 173.77, 164.33,  55.29,  38.32, 135.39,
       186.23, 113.57, 116.46,  59.6 , 155.05,  41.47,  68.12,  87.96,
       103.98,  52.27,  27.39, 124.07,  61.28, 118.34,  35.1 ,  98.82,
       108.85,  15.11,  70.64,  31.21,  17.36, 198.04,  67.86])

In [13]:
df.nunique()

survived      2
pclass        3
sex           2
age          75
fare        199
embarked      3
dtype: int64

In [14]:
df.isnull().sum()

survived    0
pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

Data Preprocessing:

Manage Null Values:

In [18]:
df = df.drop('age', axis=1)

In [21]:
df = df.drop('fare', axis=1)

In [22]:
# For Object / String Type
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['city', 'street', 'statezip']
fillnaObjectMode(columns)

KeyError: 'city'

2. Print Top 5 rows of dataset:

In [ ]:
print("Top 5 rows of Dataset:")
print(dataset.head())

Top 5 rows of Dataset:
   survived  pclass     sex  age    fare embarked
0         0       3    male   69  165.39        C
1         1       3  female   34  190.21        S
2         0       1    male   52  146.52        Q
3         0       1    male   10  124.62        S
4         0       2    male   19   86.56        S

3. Print Bottom 5 rows:

In [ ]:
print("\nBottom 5 rows of Dataset:")
print(dataset.tail())

Bottom 5 rows of Dataset:
     survived  pclass     sex  age    fare embarked
195         1       2    male   77   70.64        C
196         1       3    male   29   31.21        S
197         1       1  female   13   17.36        Q
198         0       1  female   46  198.04        C
199         0       1  female   35   67.86        S

4.Print Number of Rows and Columns:

In [ ]:
print("\nNumber of Rows and Columns:")
print("Rows: ", dataset.shape[0])
print("Columns: ", dataset.shape[1])

Number of Rows and Columns:
Rows:  200
Columns:  6

5. Print/Determine all null columns:

In [ ]:
print("\nTotal null/missing values in Dataset:")
print(dataset.isnull().sum())

Total null/missing values in Dataset:
survived    0
pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

6. Filling null values using Mean / Median / Mode:

In [ ]:
dataset = dataset.fillna(dataset.mean(numeric_only=True))

In [ ]:
dataset = dataset.fillna(dataset.mode().iloc[0])

In [ ]:
print("\nNull values after filling:")
print(dataset.isnull().sum())

Null values after filling:
survived    0
pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

7. Print datatype of each column:

In [ ]:
print("\nData types of columns:")
print(dataset.dtypes)

Data types of columns:
survived      int64
pclass        int64
sex          object
age           int64
fare        float64
embarked     object
dtype: object

1. Reading csv file:

In [ ]:
data = pd.read_csv('titanic_big.csv')

2. Printing rows and colums / shape of dataframe:

In [ ]:
print('We have {} rows.'.format(data.shape[0]))
print('We have {} columns.'.format(data.shape[1]))

We have 200 rows.
We have 6 columns.

3. Checking null values:

In [2]:
np.sum(pd.isnull(data))

NameError: name 'data' is not defined

4. Checking unique values of specific column:

In [ ]:
data['columnname'].unique()

KeyError: 'columnname'

5. Filling null values:

In [4]:
num = data['columnname'].mode()[0]
data['age'] = data['columnname'].fillna(num)

NameError: name 'data' is not defined

6. Type conversion to int:

In [ ]:
data.columnname.astype(np.int64)

7. Dropping unnecessary columns:

In [ ]:
data.drop('id', axis=1, inplace=True)

8. Check datatypes of all columns:

In [ ]:
data.dtypes

9. Splitting into x and y:

In [ ]:
x = data.iloc[:, 0:-1]
x.shape

y = data.iloc[:, -1]
y.shape

10. Converting Object columns into Int columns:

In [5]:
age_columns = x.select_dtypes(['object']).columns
x[age_columns] = x[age_columns_columns].apply(lambda x: pd.factorize(x)[0])

NameError: name 'x' is not defined